#menu{
	position: fixed;
	top: 100px;
	left: 0;
	width: 100%;
	z-index: 1;
}
.menu{
	font-size: 18pt;
	font-weight: bold;
	background-color: forestgreen;
}
input[type=button].menu {
	height: 50px;
	width: 100%;
	color: black; 
	background-color: white;
	border-color: black;
	border-width: 2pt;
	border-radius: 8px;
	transition-duration: 0.4s;
}
input[type=button]:hover{
	color: white; 
	background-color: forestgreen;
}

tr.menu{
	width: 100%;
}
table.menu{
	width: 100%;
}